@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

progress[value]::-webkit-progress-bar {
  @apply bg-abeg-neutral-80 rounded-[4px];
}
progress[value]::-webkit-progress-value {
  @apply bg-abeg-green rounded-[4px];
}
progress[value]::-moz-progress-bar {
  @apply bg-abeg-green rounded-[4px] h-full;
}

/* 
Storybook Preview Body Background Color intentionally set to edge against machines dark modes
TODO: Configure a dark mode support system for stories at some point
*/
.sb-show-main {
  background: white;
}