@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%
}

#__next {
  min-height: 100%
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

/* 
Storybook Preview Body Background Color intentionally set to edge against machines dark modes
TODO: Configure a dark mode support system for stories at some point
*/
.sb-show-main {
  background: white;
}
