@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

/* 
Storybook Preview Body Background Color intentionally set to edge against machines dark modes
TODO: Configure a dark mode support system for stories at some point
*/
.sb-show-main {
  background: white;
}
